name: Build And Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt-hotspot'
          java-version: '17'
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.1
      - name: Test Default
        run: gradle build
      - name: codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r ./build/reports/jacoco/jacocoAggregateReport/jacocoAggregateReport.xml
      - uses: codecov/codecov-action@v3
        with:
          files: ./build/reports/jacoco/jacocoAggregateReport/jacocoAggregateReport.xml
          flags: unittests
      - name: Test oldest supported library versions
        run: gradle build -Pjackson.version=2.8.0 -Pspring.version=4.3.0.RELEASE -Pokhttp.version=3.3.0 -Papachehttp.version=4.3
      - name: Test with latest library (minor) updates
        run: gradle build -Pjackson.version=2.+ -Pspring.version=6.+ -Pokhttp.version=4.+ -Papachehttp.version=4.+ -Pjdk.version=17
